@import "tailwindcss";

@theme {
  --color-background: #0f1115;
  --color-foreground: #f8fafc;
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-surface: #1e293b;
  --color-surface-hover: #334155;
  --color-border: #334155;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
  }
}
