# WebUI Credentials
WEBUI_ADMIN_USER=admin
WEBUI_ADMIN_PASS=Hehehe@123
JWT_SECRET=supersecret123

# Minecraft Server Config
MC_MEMORY=8G
MC_TYPE=AUTO_CURSEFORGE
MC_CF_API_KEY=
MC_CF_SLUG=all-the-mods-gravitas2

# Network / Tunnels
PLAYIT_KEY=
CLOUDFLARED_TOKEN=
NGROK_AUTHTOKEN=
TAILSCALE_AUTHKEY=
